
body{
  background-color:hsl(181, 48%, 82%);
  font-family:  sans-serif;
  align-content: center;
 
}
p{
text-align: center;



}
h1 {
  text-align: center;
  text-shadow: #1b1b1b;

}

h2 {
  text-align: left;
  text-shadow: #1b1b1b;
}

h3 {
  text-align: left;
  text-shadow: #1b1b1b;
}

img{
  width: 150px;
  left: auto
  
}
#im{
width: 100px;
height: 20px;
left: auto

}

#valider{
width: 100px;
}

#container{
  width:400px;
  margin:0 auto;
  margin-top:10%;
}

form {
  width:25%;
  padding: 30px;
  border: 2px solid hsl(0, 0%, 0%);
  background: #fff;
}


input[type=text], input[type=password],input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ccc;
  box-sizing: border-box;
}


input[type=submit] {
  background-color: #ffffff;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px ridge rgb(0, 0, 0);
  cursor: pointer;
  width: 100%;
}
input[type=submit]:hover {
  background-color: white;
  color: #5ac7c1;
  border: 1px solid #FFFFFF;
}
#pied{

text-align: center;
bottom: 1px;
position: absolute;
}




a:link {
color: rgb(95, 82, 165);
}

td, tr, th{
  border : 1px solid #09495f;
  width:190px;


}

#intitu{

width:100px;
align-items: center;

}

form{
size: 50%;
}

